.dashboard-search-parent {
    position: absolute;
    top: 15%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.dash-currentuser {
    position: absolute;
    top: 12%;
    left: 82%;
    transform: translate(-50%, -50%);
}

.dash-clear-icon {
    position: absolute;
    top: 77px;
    right: 275px;
    width: 12px;
    cursor: pointer;
    visibility: hidden;
}

* {
    box-sizing: border-box;
}
  
form.dash-search-bar-main input[type=search] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
  
form.dash-search-bar-main button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
form.dash-search-bar-main button:hover {
    background: #0b7dda;
}
  
form.dash-search-bar-main::after {
    content: "";
    clear: both;
    display: table;
}

.dashboard-search-results {
    position: absolute;
    left: 50px;
    top: 200px;
}

.dash-result-wrapper {
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.dash-result-image {
    height: 128px;
    width: 128px;
    float: left;
}

.dash-result-artist {
    color: grey;
    padding-top: 5px;
}

.dash-result-info {
    padding: 1rem;
    overflow: hidden;
}

.dash-result-lyrics-artist {
    font-size: 25px;
}

.dash-result-lyrics-title {
    font-size: 25px;
    padding-bottom: 2rem;
}

.dash-result-lyrics {
    text-align: center;
    line-height: 200%;
    font-size: 18px;
    overflow-wrap: normal;
    padding-top: 3rem;
    padding-right: 75rem;
    padding-bottom: 10rem;
}

.dashboard-spotify-player {
    position: fixed;
    bottom: 0;
    width: 100%;
}

  
.signout-button-parent {
    position: absolute;
    top: 12%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.dash-result-news-wrapper {
    text-align: left;
    padding: 10rem 3rem 2rem 3rem;
    float: right;
    width: 30%;
    align-items: end;
    margin: 0px 0px 0px auto;
}

.dash-results-news-card {
    width: 500px;
    padding: 20px;
    border: 1px solid;
    margin-bottom: 20px;
}

.dash-results-news-image {
    width: 400px;
}

.signout-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0011ff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px #999;
}

.player-login-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player-login {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
