.mid {
	background-color: rgba(0, 0, 0, 0.705);
	display: inline-block;
	height: 5rem;
	width: 100%;
	margin: auto;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);

}

.navbar { 
	display: inline-block;
}

.navbar li {
	list-style: none;
	display: inline-block;
	margin:auto;
}

.navbar li a {
	position: relative;
	top: 8px;
	left: 1480px;
	color:rgb(27, 142, 236);
	font-size: 18px;
	padding: 20px 20px;
}

.navbar li a:hover {
	color:rgb(255, 255, 255);
	border: rgb(0, 0, 0);
	border-radius: 2px;
	font-size: 20px;
}

.logo-home-image {
    height: 60px;
    position: absolute;
    top: 10px;
    right: 1820px;
}

.navbar-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0011ff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px #999;
}
  
.navbar-button:hover {
    background-color: #0a34bd
}
  
.navbar-button:active {
    background-color: #2d5bf5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}